{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">О нас</h3>
        <p>
            Интернет-магазин существует на украинском рынке онлайн-продаж с 2008 года и за это время успел зарекомендовать себя как исполнительный интернет-магазин и надежный партнер. За годы работы мы воплотили мечты десятков тысяч покупателей, многие стали нашими постоянными клиентами.
        </p>
    </div>
{% endblock %}
