{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Оплата</h3>
        <p>
        <h5 class="heading">Способы оформления заказа:</h5>
        <ul>
            <li>Заказать товар на сайте через корзину.</li>
            <li>Заказать товар через сall-центр.</li>
        </ul><br>
        </p>
        <p>
            Обратите внимание! В связи с высокой загруженностью call-центра быстрее будет оформить заказ через сайт.</br>
            Менеджер в любом случае позвонит вам для подтверждения и уточнения деталей.
        </p>
        <h5 class="heading">Способы оплаты:</h5>
        <ul>
            <li>ЛНаличными при получении товара.</li>
            <li>Оплата картой на сайте.</li>
            <li>Безналичный расчет.</li>
            <li>Рассрочка или кредит.</li>
        </ul><br>
        </p>
        <p>
            Важно! При получении посылки в отделении почты или у курьера, вы оплачиваете товар и подписываете акт приема-передачи товара, свидетельствующий о том, что вы проверили содержимое посылки и претензий у вас нет.
        </p>
    </div>
{% endblock %}
