{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Возврат и обмен</h3>
        <p>
            Каждый покупатель имеет право в течение 14 дней обменять или вернуть купленный товар, если он по какой-либо причине ему не подошел. Обмен товара осуществляется в соответствии с Законом Украины «О защите прав потребителей».
        <h5 class="heading">Условия обмена или возврата товара:</h5>
        <ol>
            <li>С момента покупки не прошло 14 дней.</li>
            <li>Товар без признаков использования, сохранен товарный вид (в т.ч. и упаковки товара), не активирован и без повреждений, в полной комплектации. Товар включается, все функции рабочие, без повреждений.</li>
            <li>ЗНеобходимо предъявить: документ, подтверждающий приобретение товара (чек, накладную, акт); паспорт или другой документ, подтверждающий личность; гарантийный талон, заполненный надлежащим образом; реквизиты банковской карты, если покупка осуществлялась безналичным способом.</li>
        </ol><br>
        </p>
        <p>
            Товар с недостатком, дефектом подлежит замене или возврату согласно заключения сервисного центра в том случае, если такой недостаток заявлен Вами сервисному центру в течение гарантийного срока на товар и если такой недостаток возник по вине производителя товара и не подлежит устранению. При этом необходимо предъявить вышеуказанные документы.
        <h5 class="heading">Список товаров надлежащего качества, которые не подлежат возврату (обмену):</h5>
        <ul>
            <li>Лекарственные средства.</li>
            <li>Предметы сангигиены.</li>
            <li>Фотопленки, фотопластинки, фотографическая бумага.</li>
            <li>Корсетные товары.</li>
            <li>Парфюмерно-косметические изделия.</li>
            <li>Перо-пуховые изделия.</li>
            <li>Детские игрушки мягкие.</li>
            <li>Детские игрушки резиновые надувные.</li>
            <li>Зубные щетки.</li>
            <li>Мундштуки.</li>
            <li>Аппараты для бритья.</li>
            <li>Помазки для бритья.</li>
            <li>Расчески, гребни и щетки массажные.</li>
            <li>Сурдины (для духовых музыкальных инструментов).</li>
            <li>Скрипичные подбородки.</li>
            <li>Перчатки.</li>
            <li>Ткани.</li>
            <li>Тюлегардинные и кружевные полотна.</li>
            <li>Ковровые изделия метражные.</li>
            <li>Белье нательное.</li>
            <li>Белье постельное.</li>
            <li>Чулочно-носочные изделия.</li>
            <li>Товары в аэрозольной упаковке.</li>
            <li>Печатные издания.</li>
            <li>Линейный и листовой металлопрокат, трубная продукция, пиломатериалы, погонажные (плинтус, наличник), плитные материалы (древесноволокнистые и древесностружечные плиты, фанера) и стекло, нарезанные или раскроенные под размер, определенный покупателем (заказчиком).</li>
            <li>Аудио-, видеокассеты, диски для лазерных систем считывания с записью.</li>
            <li>Изделия из натуральных и искусственных волос (парики).</li>
            <li>Товары для новорожденных (пеленки, соски, бутылочки для кормления т. д.).</li>
            <li>Инструменты для маникюра, педикюра (ножницы, пилочки и т. д.).</li>
            <li>Ювелирные изделия из драгоценных металлов, драгоценных камней, драгоценных камней органогенного образования и полудрагоценных камней.</li>
        </ul><br>
        </p>
        <p>
        <h5 class="heading">В каких случаях гарантия не предоставляется?</h5>
        Сервисный центр может отказать в гарантийном ремонте в случае:
        <ul>
            <li>случайного повреждения (дефекты причиненные клиентом);</li>
            <li>повреждения в результате стихийных бедствий (природных явлений);</li>
            <li>повреждения, возникшие вследствие небрежного отношения или использования (несоблюдение температурного режима, воздействие жидкости, запыленности, механические повреждения, попадание внутрь корпуса посторонних предметов);</li>
            <li>повреждения, вызванные аварийным повышением или понижением напряжения в сети;</li>
            <li>повреждения или ненормального функционирования изделия, вызванные сбоями или несоответствием стандартам параметров питающих, телекоммуникационных, кабельных и других подобных внешних факторов;</li>
            <li>повреждения, вызванные дефектами системы, в которой использовался данный товар, или возникшие в результате соединения и подключения товара к другим изделиям;</li>
            <li>повреждения, вызванные использованием товара не по назначению или с нарушением правил эксплуатации;</li>
            <li>естественный износ элементов в случаях превышения указанных норм нормальной эксплуатации, а также корпусных элементов переносных изделий;</li>
            <li>повреждения или ненормального функционирования изделия вызвано программами;</li>
            <li>повреждения или ненормального функционирования изделия, вызванные использованием нестандартных и (или) некачественных расходных материалов, принадлежностей, запасных частей, элементов питания;</li>
            <li>наличия на изделии признаков ремонта не уполномоченными лицами.</li>
        </ul>
        Гарантийные обязательства не распространяются:
        <ul>
            <li>на программные продукты, поставляемые вместе с изделием;</li>
            <li>на программные продукты, которые не поставляются вместе с изделием;</li>
            <li>на данные пользователя, хранящиеся или полученные с помощью изделия.</li>
        </ul>
        </p>
    </div>
{% endblock %}
