{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Служба поддержки клиентов</h3>
        <p>
            Здесь вы можете задать любой интересующий вопрос и быстро получить на него ответ.<br>
            Делитесь своим мнением и предложениями, пишите нам, мы отреагируем на каждое сообщение, ведь именно вы помогаете сделать наш сервис и обслуживание лучше.
        </p>
        <p>
        <h4 class="heading">С нами можно связаться:</h4>
        +38 (096) 138-72-69
        </p>
        <p>
        <h4 class="heading">Электронная почта</h4>
        yaric21@gmail.com
        </p>
    </div>
{% endblock %}