{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Контакты</h3>
        <p>
        <h4>Call-центр</h4>
        +38 (096) 138-72-69
        </p>
        <p>
        <h4>График работы Call-центра</h4>
        <ul>
            <li>Пн.-Пт.: 08:00 - 22:00</li>
            <li>Сб.: 09:00 - 20:00</li>
            <li>Вс.: 09:00 - 19:00</li>
        </ul>
        </p>
        <h4>Электронная почта</h4>
        yaric21@gmail.com
        </p>
    </div>
{% endblock %}