{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Вопросы и ответы</h3>
        <p>Здесь вы найдете ответы на самые распространенные вопросы наших покупателей. Если вы не нашли ответ, не отчаивайтесь — пришлите ваш вопрос нам, и мы вам ответим.</p>
        <p>
        <h5 class="heading">Можно ли заказать товар с доставкой в другую страну?</h5>
        К сожалению, пока такой возможности нет, сейчас можно заказать товар только по территории Украины.
        <h5 class="heading">Можно ли изменить место доставки или имя получателя после оформления заказа?</h5>
        Да, можно. Для этого необходимо связаться с оператором колл-центра и продиктовать новый адрес доставки или имя получателя.
        <h5 class="heading">Можно ли оплатить заказ картой при получении?</h5>
        К сожалению, оплатить товар картой нельзя. Вы можете оплатить товар наличными при получении или картой на сайте сразу при оформлении заказа.
        <h5 class="heading">На какой срок предоставляется гарантия на товары?</h5>
        Срок гарантии указан в описании каждого товара на нашем сайте.
        <h5 class="heading">Можно ли обменять или вернуть товар?</h5>
        Да, вы можете обменять или вернуть товар в течение 14 дней после покупки.
        <h5 class="heading">Сколько дней за мной будет закреплен мой заказ?</h5>
        Товар будет зарезервирован за вами в течение трех дней.
        <h5 class="heading">Если на сайте товара нет в наличии, можно ли его заказать?</h5>
        Нажав на кнопку “Узнать, когда появится” в карточке товара, вы можете оставить свой адрес электронной почты и телефон и мы сообщим вам о поступлении товара.
        </p>
    </div>
{% endblock %}
