{% extends "base.html.twig" %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="heading">Обмен</h3>
        <p>
            Новые гаджеты приходят в нашу жизнь почти каждый день, и чтобы с выгодой попрощаться со старой техникой, мы запускаем для своих Клиентов программу Обмен. Программа предоставляет вам отличную возможность регулярно совершать апгрейд своей техники на выгодных условиях.
        </p>
        <p>
            Размер скидки, которую вы получаете, сдав свою технику, рассчитывается в зависимости от:
        <ul>
            <li>модели;</li>
            <li>объема встроенной памяти устройства;</li>
            <li>срока эксплуатации;</li>
            <li>технического состояния и комплектности товара, который вы хотите обменять.</li>
        </ul>
        </p>
        <p>То есть, чем лучше состояние и меньше срок эксплуатации техники, которую вы сдаете, тем больше будет скидка на приобретение любых товаров у нас на сайте.</p>
        <p>Приходите в магазины наших партнеров и обменяйте свой старый девайс на любой новый товар. Не забудьте паспорт и код ИНН!</p>
        <p>Стать участником программы обмена техники могут все граждане Украины, достигшие совершеннолетия.</p>
        <p>В программе обмена участвует следующее старое оборудование:
        <ul>
            <li>Смартфоны: iPhone, Samsung, Xiaomi, Meizu, Huawei, Honor.</li>
            <li>Ноутбуки: Apple</li>
            <li>Планшеты: Apple, Samsung, Huawei, Lenovo.</li>
            <li>Смарт-часы: Apple, Samsung, Huawei.</li>
        </ul>
        </p>
    </div>
{% endblock %}
