{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <a href="{{ path('admin_add_product') }}">Add new product</a>
        <a href="{{ path('admin_add_category') }}">Add new category</a>
    </div>
{% endblock %}